@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto", serif;
  font-style: normal;
}

.hide-scoll::-webkit-scrollbar{
  display: none;
}

.font-one {
  font-family: "DM Serif Text", serif;
  font-style: normal;
}

a.active{
  color: #80B500;
  font-style: bold;
}

.dark-nav {
  width: 100%;
  background: #FFFFFF;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
